<h2>New Dimension</h2>
<% semantic_form_for @opinion do |f| %>
  <% f.inputs :for => :dimension do |dim| %> 
    <%= dim.input :name %>
    <%= dim.input :desc %>
    <%= dim.input :concepts %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Add Dimension" %>
  <% end %>
<% end %>