<h2>Edit Menu Item</h2>
<% semantic_form_for @entity, :html => { :multipart => true } do |f| %>
  <%= f.inputs :name, :desc, :concept, :photo %>
  <% f.buttons do %>
    <%= f.commit_button "Update" %>
  <% end %>
<% end %>