.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.flash_notice {
  float: right;
  clear: right;
  padding-top: 35px;
}

.menu {
  width: 200px;
  vertical-align: top;
}

#menu {
  padding: 20px 0 20px 0;
  background-color: #ddd;
}

.menu hr {
  color: black;
  background-color: black;
}

.menu li a {
  color: #000;
}

.menu li a:visited {
  color: #000;
}

.menu li a:hover {
  text-decoration: underline;
}

.main_title {  
  font-size: 200%;
  padding-right: 0px;
  padding-left: 0px;
  float: left; 
  padding-top: 40px;
}

.logo {
  float: left; 
  display: table-cell;
  vertical-align: middle;
}

.successExplanation {
  color: #00aa00;
  border: #00aa00 4px;
  display: block;
  background-color: #ccffcc;
  padding: 10px;
}

.errorExplanation {
  color: #aa0000;
  border: #aa0000 4px;
  display: block;
  background-color: #ffcccc;
  padding: 10px;
}


.errorExplanation h2 {
  color: #aa0000;
  font-size: 150%;
  border-bottom: 2px solid red;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #660000;
  background-color: #ddd;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

#header {
  padding-top: 20px;
  padding-bottom: 0px;
  clear: both;
}

#header img {
  padding: 0em;
}

#footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
}

.footer {
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.footer {
  margin: 0;
}

.footer li{
  list-style-type: none;
  display: inline;
  padding: 0.2em 10;
}

.footer li a {
  color: #000;
  padding: 0 6px;
}

.footer li a:visited {
  color: #000;
}

.footer li a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 0em;
  padding: 20px;
  background: #eee;
  border: #000 4px;
}

body {
  background: #fff
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #555555;
}