.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.flash_notice {
  float: right;
  clear: right;
  padding-top: 35px;
}

.menu {
  width: 200px;
  vertical-align: top;
}

.dimensions {
  background-color: #a4ffa4;
  vertical-align: top;
  padding: 20px;
  white-space:nowrap;
  float: right;
  border: 3px solid black;
}
.ratings {
  background-color: #ffa4a4;
  vertical-align: top;
  padding: 10px;
  white-space:nowrap;
  border: 3px solid black;
}

.ratings .indicator {  
  border: 1px solid black;
  background-color: #a4ffa4;
  padding: 0px;
}

.dimensions hr {
  color: black;
  background-color: black;
}

#menu {
  padding: 20px 0 20px 0;
  background-color: #fff;
}

.menu hr {
  color: black;
  background-color: black;
}

.menu li a {
  color: #000;
}

.menu li a:visited {
  color: #000;
}

.menu li a:hover {
  text-decoration: underline;
}

.main_title {  
  font-size: 250%;
  padding-right: 0px;
  padding-left: 0px;
  float: left; 
  padding-top: 50px;
  text-decoration: underline;
  font-family: arial;
}

.logo {
  float: left; 
  display: table-cell;
  vertical-align: middle;
}

.successExplanation {
  color: #00aa00;
  border: #00aa00 4px;
  display: block;
  background-color: #ccffcc;
  padding: 10px;
}

.errorExplanation {
  color: #aa0000;
  border: #aa0000 4px;
  display: block;
  background-color: #ffcccc;
  padding: 10px;
}


.errorExplanation h2 {
  color: #aa0000;
  font-size: 150%;
  border-bottom: 2px solid red;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #660000;
  background-color: #a4ffa4;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

#header {
  padding-top: 20px;
  padding-bottom: 0px;
  clear: both;
}

#header img {
  padding: 0em;
}

#footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.footer {
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.footer {
  margin: 0;
}

.footer li{
  list-style-type: none;
  display: inline;
  padding: 0.2em 10;
}

.footer li a {
  color: #000;
  padding: 0 6px;
}

.footer li a:visited {
  color: #000;
}

.footer li a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 0em;
  padding: 20px;
  background: #fff;
  border: #000 4px;
  vertical-align: top;
}

body {
  background-color: rgb(234,197,111);
  /*background-image: url(/images/background.jpg);*/
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #555555;
}

h4 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

hr {
  color: black;
  background-color: black;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
    background: url('/images/bar_rating.png') left -1000px repeat-x;
}

.star-rating {
    position: relative;
    width: 100px;
    height: 10px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}

.star-rating li{
    display: inline;
    position:absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    outline: none;
    overflow: hidden;
    border: none;
}

.star-rating .current-rating{
    z-index: 1;
    background-position: left bottom;
    line-height: 10px;
}

.star-rating .one{
    height: 10px;
}

.star-rating .two{
    height: 20px;
}

.star-rating .three{
    height: 30px;
}