.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.has_border {
  border: 3px solid black;
}

.flash_notice {
  float: right;
  clear: right;
  padding-top: 35px;
}

.dimensions {
  background-color: #a4ffa4;
  /* vertical-align: top;*/
  padding: 10px;
  /*float: right;*/
  white-space: nowrap;
}
.ratings {
  background-color: #ffa4a4;
  vertical-align: top;
  padding: 5px;
  white-space:nowrap;
  border: 3px solid black;
}

.ratings th {
  background-color: #ffa4a4;
}

.indicator {  
  border: 1px solid black;
  background-color: #a4ffa4;
  padding: 0px;
  display: inline-block;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: courier new;
  font-size: 10px;
}

.dimensions hr {
  color: black;
  background-color: black;
}

.even {
  background-color: #dddddd;
}

.odd {
  background-color: #cccccc;
}

.menu {
  padding: 8px 0 8px 0;
  background-color: #ccffcc;
  border: 2px solid #000000;
  font-family: verdana;
  color: #000;
  white-space: nowrap;
  font-size: 10px;
}

.menu hr {
  color: black;
  background-color: black;
}

.menu li a {
  color: #660000;
}

.menu li a:visited {
  color: #660000;
}

.menu li a:hover {
  color: #660000;
  text-decoration: underline;
}

.main_title {  
  font-size: 250%;
  padding-right: 0px;
  padding-left: 0px;
  float: left; 
  padding-top: 50px;
  border-bottom: 3px white double;
  font-family: Verdana;
  color: silver;
}

.logo {
  float: left; 
  display: table-cell;
  vertical-align: middle;
}

.successExplanation {
  color: #00aa00;
  border: #00aa00 4px;
  display: block;
  background-color: #ccffcc;
  padding: 10px;
}

.errorExplanation {
  color: #aa0000;
  border: #aa0000 4px;
  display: block;
  background-color: #ffcccc;
  padding: 10px;
}


.errorExplanation h2 {
  color: #aa0000;
  font-size: 150%;
  border-bottom: 2px solid red;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  background-color: #fff;
  border: black 2px solid;
  font-size: 150%;
  font-weight: bold;
  padding: 15px;
}

#header {
  padding-top: 20px;
  padding-bottom: 0px;
  clear: both;
}

#header img {
  padding: 0em;
}

#footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccffcc;
  border: 2px solid #000000;
}

.footer {
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.footer {
  margin: 0;
}

.footer li{
  list-style-type: none;
  display: inline;
  padding: 0.2em 10;
}

.footer li a {
  color: #000;
  padding: 0 6px;
}

.footer li a:visited {
  color: #000;
}

.footer li a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 0em;
  padding: 15px;
  background: #fff;
  vertical-align: top;
  background-color: #ccffcc;
  font-family: verdana;
  font-size: 11px;
  color: #000;
  border: 2px solid #000000;

}

body {
  /*background-color: rgb(234,197,111);*/
  background-color: #000044;
  /*background-image: url(/images/background.jpg);*/
}

a {
  color: #660000;
  text-decoration: none;
}

a:hover {
  color: #660000;
  text-decoration: underline;
}

a:visited {
  color: #660000;
}

h4 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

hr {
  color: black;
  background-color: black;
}

th {
  background-color: #a4a4ff;
  border-bottom: 2px solid black;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
    background: url('/images/bar_rating.png') left -1000px repeat-x;
}

.star-rating {
    position: relative;
    width: 100px;
    height: 10px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
    display: inline-block;
}

.star-rating li{
    display: inline;
    position:absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    outline: none;
    overflow: hidden;
    border: none;
}

.star-rating .current-rating{
    z-index: 0;
    background-position: left bottom;
    line-height: 10px;
}

.star-rating .one{
    height: 10px;
}

.star-rating .two{
    height: 20px;
}

.star-rating .three{
    height: 30px;
}

div#qTip {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
  border: 2px solid #660000;
  display: none;
  background: #990000;
  color: #FFF;
  font: 9px Verdana, Arial, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
}

.popup {
  padding: 10px
}
.popup h3.title {
  font-size: 110%;
  background-color: #000044;
  border: 2px solid #660000;
  color: white;
  font-weight: bold;
  margin: -10px -10px 0 -10px;
  padding: 5px 9px;
}
.popup .popup_content {
  font-size: 90%;
  border: 2px solid #660000;
  background-color: #ccffcc;
  border-top: none;
  margin: 0 -10px -10px -10px;
  padding: 1px 9px;
}
.popup.draggable h3.title {
  cursor: move;
}