.menu_tabnav {
	color: #000;
	padding: 0px;
	z-index: 1;
	padding-left: 10px ;
}
 
.menu_tabnav ul {
	margin: 0px;
	padding: 0px;
}
 
.menu_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; 
}
 
.menu_tabnav a, menu_tabnav a.active {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
	color: #000000;
	background: #ccffcc;
	font-weight: bold;
	border: 2px solid black;
	padding: 2px 5px 2px 5px;
	margin: 0;
	text-decoration: none; 
}
 
.menu_tabnav a.active {
	background: #f5f5f5;
	border-bottom: 2px solid #f5f5f5; 
}
 
.menu_tabnav a:hover {
	color: #f5f5f5;
	background: #CCCCCC; 
}
 
.menu_tabnav a:visited {
	color: #000000; 
}
 
.menu_tabnav a.active:hover {
	background: #f5f5f5;
	color: #000000; 
}
 
.menu_tabnav_content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	background: #f5f5f5;
	padding: 10px;
	border: 2px solid black;
	z-index: 2;
}