<h2>Help</h2>
<p>Welcome to a social experiment. To read about what research the experiment is based on, please go to the
<%= link_to "about", "/about" %> page.</p>
<p>
There are 3 ways this website can be used:
  <ol>
    <li><a href="#1">Just to see what the Queen's Ferry has to offer.</a></li>
    <li><a href="#2">To rate and tell the world what you thought of what it offers.</a></li>
    <li><a href="#3">To defined and be part of what it should offer. This also enabled advanced recommendations.</a></li>
  </ol>
</p>

<a name="1">&nbsp;</a><h3>I just want to see</h3>

<p>Just browse on over to the menu and look at the offerings.</p>

<a name="2">&nbsp;</a><h3>I want to rate stuff</h3>

<p>Browse on over to the menu, and give the items you like a thumbs up or down.</p>

<a name="3">&nbsp;</a><h3>I want to define stuff</h3>

<p>Excellet! For that you will need to create an account (free, fast and simple) and then
you will be able to define what you value in any and all the items the Queen's Ferry has to offer. 
Do you think the amount of salt is important? Do you think the crispiness is important?
Great! You can do that! All you have to do is
define your very own <i>value dimensions</i> which is fast and easy.</p>
