<h3>Welcome</h3>
<p>
Welcome to the Queen's Ferry Hotel, the oldest pub in Auckland.
</p>
<% unless current_user %>
  <%= link_to "Sign up", signup_path, :class => "signup_button round" %>
<% end %>


