<h3>Welcome</h3>
<p>
Welcome to the Queensferry Hotel, the oldest pub in Auckland, 
named after the a <a href="http://www.wikipedia.org/wiki/South_Queensferry">town in Scotland</a>
</p>
<% unless current_user %>
<%= link_to 'Sign up', signup_path, :class => "signup_button round" %>
<% end %>
