<h2>The Menu</h2>

<table>
<% @concepts.each do |concept| %>
  <tr>
    <td>
      <%= link_to concept.name, concept %>
    </td>
    <% if role? "manager" %>
      <td>
        [
        <%= link_to "Edit", edit_concept_path(concept) %> |
        <%= link_to "Delete", concept, :confirm => "Are you sure?", :method => :delete %>
        ]
      </td>
    <% end %>
  </tr>
<% end %>
</table>