<div class='popup draggable' id='<%= @dimension %>'>
  <h3 class='title'>AJAX Popup</h3>
  <div class='popup_content'>
    <p>Hello from the AJAX world!</p>
    <p>
      <a href="javascript: Element.closePopup('<%= @dimension %>')">Close</a>
    </p>
  </div>
</div>